@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');


*{
    margin: 0;
    position: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    font-family: sans-serif;
}

.header{
    width: 1440px;
    height: 850px;
    background-color: #A95094;
}

.header hr{
    display: none;
}

header{
    width: 1440px;
    height: 70px;
    padding: 29px 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.header-img{
    display: flex;
    gap: 8.5px;
    color: #fff;
}


.header-text ul{
    display: flex;
    gap: 40px;
}

.header-text ul a{
    color: #fff;
    font-weight: 50px;
    font-family: sans-serif;
}

.header-button{
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-btn{
    display: flex;
    gap: 9.88px;
    color: #fff;  
}

.header-button button{
    width: 162px;
    height: 55px;
    border-radius: 15px;
    border: 2px solid #FFC464;
    color: #FFC464;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A95094;
}
.hdr{
    height: 760px;
    position: relative;
}

.hdr-img{
    display: flex;
    position: relative;
}

.img{
    position: absolute;
}

.img-1{
    margin-left: 200px;
    top: 0;
    margin-top: 110px;
}

.img-2{
    margin-left: 20px;
    top: 0;
    margin-top: 160px;
}
.img-3{
    margin-left: 130px;
    top: 0;
    margin-top: 40px;
}


.img-11{
    width: 1170px;
    height: 49px;
    background-color: #000;
    color: #fff;
    margin-left: 110px;
    margin-top: 700px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 63px;
    /* display: block; */
}

.para{
    display: flex;
    align-items: center;
    
}

.dumaloq{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #78C23E;
    margin-right: 20px;
}

.paragraf{
    display: flex;
}


.hdr-text{
    width: 192px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-left: 650px;
    margin-top: 150px;
    font-family: sans-serif;
    color: #fff;
}

.hdr-txt{
    width: 664px;
    height: 265px;
    gap: 25px;
    font-size: 60px;
}

.hdr-text button{
    width: 222px;
    height: 55px;
    border-radius: 15px;
    background-color: #000;
    color: #fff;
    border: none;
}

.soatlar{
    width: 1107px;
    height: 230px;
    margin-left: 135px;
    margin-top: 75px;
    display: flex;
    gap: 93px;
}

.soat{
    width: 207px;
    height: 151px;
    gap: 10px;
}

.cards{
    width: 1440px;
    height: 818px;
    padding-left: 199px;
    display: flex;
}

.card-text{
    margin-top: 115px;
}

.card-btn{
    width:  594px;
    height: 350px;
    gap: 15px;

}
.card-btn button{
    border-radius: 15px;
    border: 1px solid #96317D;
    background-color: #fff;
    color: #96317D;
}
.card-btn button:hover{
    background-color: #96317D;
    color: #fff;
    transition: 2s;
}

.card-text-text{
    height: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.card-img{
    display: flex;
    position: relative;
}

.img{
    position: absolute;
}

.img-5{
    margin-left: 239px;
}

.img-6{
    margin-left: 20px;
    margin-top: 60px;
}

.img-7{
    /* margin-left: 10px; */
    margin-top: 580px;
}

.robot{
    width: 971px;
    height: 583.3685913085938px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 235px;
    
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 16px;
  
}

th, td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

th:first-child,
td:first-child {
  text-align: left;
}

th:nth-child(2),
td:nth-child(2) {
  text-align: center;
  padding-left: 100px; 
}

th:last-child,
td:last-child {
  text-align: right;
}

th {
  background: #fafafa;
  font-weight: bold;
  
}

.free {
  color: #96317D;
  font-weight: bold;
}

.show-prices {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.show-prices a {
  color: #96317D;
  text-decoration: none;
  font-weight: bold;
}

.show-prices a:hover {
  text-decoration: underline;
}

.odam{
    width: 1440px;
    height: 1034px;
    
}

.dm{
    text-align: center;
}

.odamm-div{
    display: flex;
    gap: 30px;
    margin-left: 135px;
}

.odam-div{
    width: 370px;
    height: 647px;
    
}

.odam-text{
    width: 370px;
    height: 277px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    gap: 20px;
}

.dale{
    display: flex;
    justify-content: space-between;
    margin: 0px 120px;

}

.dale-img{
    display: flex;
    gap: 10px;
}

.dl-img{
    width: 28px;
    height: 28px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dl-img:hover{
     border: 1px solid #96317D;
}

.dl-mg{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #96317D;
}

.dale-text{
    display: flex;
    gap: 40px;
}

.b{
    font-size: 40px;
     margin-left: 450px;
}
.axis{
    display: flex;
    padding-left: 130px;
}

.axis-1{
    width: 570px;
    height: 417px;
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    gap: 35px;
}

.axis-img{
    display: flex;
    gap: 30px;
    align-items: center;
}

.google{
    width: 1440px;
    height: 235px;
    display: flex;
    gap: 65px;
    padding-left: 135px;
    margin-top: 130px;
}

.gogle{
    width: 370px;
    height: 135px;
    display: flex;
    gap: 57px;

}

.gogle-img{
    display: flex;
    gap: 20px;
}

.pachti{
    display: flex;
}

.pachti-text-b{
    width: 329px;
    height: 120px;
    font-size: 40px;
}

.pachti-text-p{
    width: 301px;
    height: 81px;
    margin-top: 30px;
}

.pachti-text{
     width: 722px;
    height: 74px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pachti-img{
   margin-left: 290px;
}

.pilus{
    width: 38px;
    height: 38px;
    border-radius: 50px;
    background-color: #96317D;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    font-size: 25px;
}


.zakazativiy{
    width: 1440px;
    height: 381px;
    background-image: url(img/fon.png);
    background-size: cover;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zakaz{
    width: 1341px;
    height: 181px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
    gap: 20px;
}

.zakaz button{
    width: 390px;
    height: 61px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
}

.karta{
    width: 1186px;
    height: 580px;
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
}

.b-b{
    display: block;
    color: #fff;
}


.b_b{
    font-size: 25px;

}
.karta-text{
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.karta-text  button{
 width: 162px;
 height: 40px;
 border-radius: 5px;
 border: 1px solid #96317D;
 color: #96317D;
 background-color: #fff;   
}




@media(max-width:780px){
    .header{
    width: 780px;
    height: 1118px;
    background-color: #A95094;
    border: 1px solid;
}

header{
    width: 780px;
    flex-direction: row-reverse;
    padding: 29px 30px;
    padding: auto;
}

    .header-img{
        position: absolute;
        top: 0;
        margin-top: 110px;
        margin-right: 590px;

    }
    .header-button button{
        position: absolute;
        top: 0;
        margin-top: 100px;
        margin-left: 560px;
    }

    .header hr{
    display:  block;
}

.hdr{
    width: 780px;
}

.hdr-text{
    width: 192px;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 35px;
    text-align: center;
    margin-left: 50px;  
    padding-top: 70px;
    font-family: sans-serif;
    color: #fff;
}

.hdr-txt{
    width: 664px;
    height: 265px;
    gap: 25px;
    font-size: 67px;
}

.hdr-text button{
    width: 237px;
    height: 70px;
    border-radius: 15px;
    background-color: #000;
    font-size: 20px;
    color: #fff;
    border: none;
    margin-top: 460px;
    margin-left: 220px;
}
.img-1{
    width: 385px;
    height: 580px;
    margin-left: 360px;
    top: 0;
    margin-top: 463px;
}

.img-2{
    width: 324px;
    height: 450px;
    margin-left: 20px;
    top: 0;
    margin-top: 577px;
}
.img-3{
    width: 594px;
    height: 567px;
    margin-left: 150px;
    top: 0;
    margin-top: 477px;
}

.img-5{
    width: 273.00003051757835px;
    height: 546.0000000000005px;
    margin-left: 236px;
    margin-top: 133px;
    transform: rotate(90deg);
}

.img-6{
    width: 399px;
    height: 541px;
    margin-left: 40px;
    margin-top: 60px;
}

.img-7{
    width: 64px;
    height: 64px;
    margin-top: 430px;
    margin-left: 20px;
}

.header-text ul{
    display: flex;
    gap: 40px;
}

.header-text ul a{
    color: #fff;
   font-weight: 100px;
    font-size: 16px;
    font-family: sans-serif;
}

.img-11{
    width: 780px;
    height: 112px;
    margin-left: auto;
    margin-right: 11px;
    margin-top: 1045px;
    text-align: center; 
    gap: 0px; 
    flex-direction: column;
    /* display: none; */
}

.paragraf{
    display: block;
}

.hdr-text{
    margin-top: 70px;
}


.soatlar{
    margin-top: 200px;
    width: 780px;
    height: 460px;
    margin-left: 135px;
    flex-wrap: wrap;
    /* margin-top: 75px; */
    display: flex;
    gap: 93px;
}

.cards{
   width: 780px;
    height: 897px;
    padding-left: 135px;
    display: flex; 
    flex-direction: column;
}

.card-text b{
    font-size: 45px;
}

.card-text p{
    font-size: 13px;
}

.card-btn{
    display: none;
}

.robot{
    width: 780px;
    height: 583.3685913085938px;
    margin-top: 100px;
    margin-right: 100px;
}

.odam{
    width: 780px;
    height: 1049px;

}

.robot{
    width: 720px;
    height: 583.3685913085938px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    
}

.card-text-text{
    position: absolute;
    margin-top: 650px
}

.dale{
    margin: 0px 20px;
}

.odam{
    width: 780px;
    height: 849px;
}

.odamm-div{
    margin-left: 5px;
}

.odam-dm{
    display: none;
    
}

.AXIS{
    width: 720px;
    height: 505px;
    margin-top: 100px;
}

.AXIS .b{
    font-size: 40px;
   margin-left: 130px; 
}

.axs-1{
    display: none;
}

.google{
    width: 780px;
    height: 307px;
    display: flex;
    gap: 65px;
    padding-left: 10px;
    margin-top: 130px;
}
.gogle{
    width: 370px;
    height: 135px;
    flex-direction: column;
    gap: 57px;

}

.pachti{
    width: 722px;
    flex-direction: column;
}

.pachti-qw{
  text-align: center;  
}
.pachti-text-b{
    width: 629px;
    height: 20px;
    font-size: 40px;
    margin-left: 70px;
}
.pachti-text-p{
    width: 501px;
    height: 81px;
    margin-top: 30px;
    margin-left: 140px;
}
.pachti-img{
    margin-left: 30px;
}

.zakazativiy{
    width: 780px;
    height: 508px;
    padding: 60px 0px;
}
.zakaz{
    width: 721px;
    height: 408px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 90px 0px;
}

.karta{
    width: 780px;
    height: 633px;
    margin-top: 50px;
    margin-left: 30px;
    flex-direction: column;
}

.karta-text{
    margin-top: 100px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.iava{
    position: absolute;
    margin-left: 450px;
}

.karta-text button{
    position: absolute;
    margin-left: 450px;
    margin-top: 50px;
}


.b-b{
    font-size: 40px;
    margin-top: 90px;
    margin-left: 120px;
    color: #000;
}

.b_b{
 display: none;
}

.karta-text-img b{
    font-size: 17px;
}

.karta img{
    width: 720px;
    height: 372px;

}


}